# mcman.conf - mcman's configuration file


# this is the name for the screen session that your server will be run inside
SCREEN_NAME="minecraft"

# command to run as the server (in root directory)
SERVER_CMD="java -Xmx2G -jar paper.jar nogui"

# message to send before shutting down server
SERVER_SHUTDOWN_MESSAGE="Shutting down!"

# time in seconds to wait after sending message before shutting down the server
SERVER_SHUTDOWN_DELAY=5
